* {
    padding: 0;
    margin: 0;
}

canvas {
    background: #eee;
    display: block;
    margin: 0 auto;
}

body {
    background: #c9bda3;
}

.back {
    text-align: center;
    padding: 2px;
    margin: 5px;
    background-color: #d8987d;
    margin-top: 5px;
    border-radius: 20px;
}

.back:hover {
    padding: 2px;
    margin: 5px;
    margin-top: 2px;
    background-color: #db9172;
}
