body {
   background:  #c9bda3;
}

audio {
    opacity: 0.5;
    display: block;
    height: 30px;
    width: 250px;
}
.menu {
    background-color: #ede2cb;
    height: 440px;
    width: 700px;
    display: block;
    margin: auto;
    text-align: center;
    padding: 5px;
}

.caption {
    padding: 10px;
    background-color: #d8c7a4;
    margin: -5px;
}

.play {
    padding: 10px;
    margin: 20px;
    background-color: #ddb09d;
    border-radius: 20px;
}

.play:hover {
    padding: 10px;
    margin: 10px;
    margin-top: 25px;
    background-color: #d89a7f;
}

.options {
    padding: 10px;
    margin: 20px;
    background-color: #ddb09d;
    border-radius: 20px;
}

.options:hover {
    padding: 10px;
    margin: 10px;
    margin-top: 25px;
    background-color: #d89a7f;
}

.about {
    padding: 10px;
    margin: 20px;
    background-color: #ddb09d;
    border-radius: 20px;
}
.about:hover{
    padding: 10px;
    margin: 10px;
    margin-top: 25px;
    background-color: #d89a7f;
}
.aboutcap{
    padding: 2px;
    background-color: #e0d3b8;
    margin: -5px;
    width: 706px;
    display: block;
    margin: auto;
    text-align: center;
}
